#frame {
  width: 500px;
  position: relative;
}

#slides-reel {
  display: flex;
  position: relative;
}

.slide {
  flex: none;
  width: 100%;
  visibility: hidden;
}

.current.slide {
  visibility: visible;
}

.slide img {
  max-width: 100%;
  display: block; /* to remove small bottom margin */
}

/* Arrows */
.menu-arrow {
  --arrow-size: 72px;

  display: block;
  width: var(--arrow-size);
  height: var(--arrow-size);
  position: absolute;
  top: calc(50% - var(--arrow-size) / 2);
}

#menu-arrow-right {
  right: 0;
}

/* Bubbles */
#bubbles-row {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}

.bubble {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.current.bubble {
  background: black;
}